#  python data analysis library (PANDA)
## this note is all about PANDA

In [ ]:
#pip install pandas
#pip install numpy

In [ ]:
import pandas as pd
import numpy as np

In [66]:
#object creation
s= pd.Series([1,3,4,6,8,])
s= pd.Categorical(["ijaz", "ali","khan"])
s

['ijaz', 'ali', 'khan']
Categories (3, object): ['ali', 'ijaz', 'khan']

In [ ]:
dates = pd.date_range("20220101", periods=20)
dates
df = pd.DataFrame(np.random.randn(20, 4), index= dates, columns=list("ABCD"))
df

In [ ]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20220111"),
        "C": pd.Series(1,index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["girl","woman","girl","woman"]),
        "F": "females"
    }
)
df2

In [ ]:
df2.dtypes

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.index

In [ ]:
df.describe()

In [ ]:
#transforse
df2.T

In [40]:
df.loc[:,["A","B"]]

                   A         B
2022-01-01  0.144301  0.131192
2022-01-02  0.306764  1.509985
2022-01-03 -1.075626 -0.222095
2022-01-04 -0.743719 -0.069442
2022-01-05  0.843106  0.111222
2022-01-06 -0.868675  0.425068
2022-01-07  0.302019 -0.110041
2022-01-08 -0.952819 -1.049261
2022-01-09  0.733465  0.791248
2022-01-10  2.368718  0.559975
2022-01-11 -0.451014 -0.172734
2022-01-12 -1.796288  1.261340
2022-01-13 -1.512323 -0.786231
2022-01-14 -2.394504  0.734178
2022-01-15 -0.271281  0.062812
2022-01-16 -0.799987 -2.655389
2022-01-17  0.289264 -0.508624
2022-01-18 -0.774364 -0.993749
2022-01-19 -1.245872 -0.906028
2022-01-20 -0.415997  0.761056

In [41]:
df.loc["20220111",["A","B","C"]]

A   -0.451014
B   -0.172734
C    0.966011
Name: 2022-01-11 00:00:00, dtype: float64